{% extends "site/template.html" %}
{% block title %}Add/Edit Company{% endblock %}
{% block content %}
  <div class="custom_form">
    {%  if  company %}
      <h3>Update Company</h3>
      <form action="{% url 'rtpm:company_update' company.id %}" method="post">
        {% csrf_token %}
        <div>
          <div class="title-status">
            <span>
              <label for="id_name" class="w150">Name: </label>
              <input id="id_name" name="name" maxlength="100" type="text" value="company.name" autofocus required>
            </span><br><br>
            <span>
              <label for="id_street" class="w150">Street:</label>
              <input id="id_street" name="street" type="text" value="company.street" required>
            </span><br><br>
            <span>
              <label for="id_house_number" class="w150">House number:</label>
              <input id="id_house_number" name="house_number" type="number" value="company.house_number" required>
            </span><br><br>
            <span>
              <label for="id_apartment_number" class="w150">Apartment number:</label>
              <input id="id_apartment_number" name="apartment_number" value="company.apartment_number" type="number">
            </span><br><br>
            <span>
              <label for="id_postal_code" class="w150">Postal code:</label>
              <input id="id_postal_code" name="postal_code" type="text" pattern="[0-9]{2}\-[0-9]{3}" value="company.postal_code" required>
            </span><br><br>
            <span>
              <label for="id_city" class="w150">City:</label>
              <input id="id_city" name="city" type="text" value="company.city" required>
            </span><br><br>
          </div>
        </div>
        <button class="button form-button" type="submit">Update</button>
    {% else %}
      <h3>Add new Company</h3>
      <form action="{% url 'crmsite:company_save' %}" method="post">
        {% csrf_token %}
        <div>
          <div class="title-status">
            <span>
              <label for="id_name" class="w150">Name: </label>
              <input id="id_name" name="name" maxlength="100" type="text" autofocus required>
            </span><br><br>
            <span>
              <label for="id_street" class="w150">Street:</label>
              <input id="id_street" name="street" type="text" required>
            </span><br><br>
            <span>
              <label for="id_house_number" class="w150">House number:</label>
              <input id="id_house_number" name="house_number" type="number" required>
            </span><br><br>
            <span>
              <label for="id_apartment_number" class="w150">Apartment number:</label>
              <input id="id_apartment_number" name="apartment_number" type="number">
            </span><br><br>
            <span>
              <label for="id_postal_code" class="w150">Postal code:</label>
              <input id="id_postal_code" name="postal_code" type="text" pattern="[0-9]{2}\-[0-9]{3}" required>
            </span><br><br>
            <span>
              <label for="id_city" class="w150">City:</label>
              <input id="id_city" name="city" type="text" required>
            </span><br><br>
          </div>
        </div>
        <button class="button form-button" type="submit">Add</button>
    {% endif %}
    </form>
  </div>
{% endblock %}
