{% extends "site/template.html" %}
{% block title %}Add User{% endblock %}
{% block content %}
  <div class="custom_form">
    <h3>Add new User</h3>
    <form action="{% url 'crmsite:save_user' %}" method="post">
      {% csrf_token %}
      <div>
        <div class="title-status">
          <span>
            <label for="id_name" class="w80">Username: </label>
            <input id="id_name" name="username" maxlength="100" type="text" autofocus required>
          </span><br><br>
          <span>
            <label for="id_first_name" class="w80">First name: </label>
            <input id="id_first_name" name="first_name" maxlength="100" type="text" required>
          </span><br><br>
          <span>
            <label for="id_last_name" class="w80">Last name: </label>
            <input id="id_last_name" name="last_name" maxlength="100" type="text" required>
          </span><br><br>
          <span>
            <label for="id_password" class="w80">Password: </label>
            <input id="id_password" name="password" maxlength="100" type="password" required>
          </span><br><br>
        </div>
      </div>
      <button class="button form-button" type="submit">Add</button>
    </form>
  </div>
{% endblock %}
