<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}CRM{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <header class="container">
      <h1><span class="header_text">CRM</span></h1>
    </header>
    <main class="container">
      <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
          <li id="companies"><a href="/crm">Companies</a></li>
          <li id="users"><a href="/crm/users">Users</a></li>
        </ul>
        {% if user.is_authenticated %}
          <div class="btn-group navbar-right h50">
            <a class="btn dropdown-toggle menu" data-toggle="dropdown" href="#">
              <span><i class="fa fa-user"></i>&nbsp;{{ user.username }}</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li id="logout"><a href="/crm/logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
            </ul>
          </div>
        {% endif %}
      </nav>
      <div id="content" class='content_container'>
        {% block content%}{% endblock %}
      </div>
    </main>
    <footer class="container">
      <div>
          Author: Paweł Mudlaff
      </div>
    </footer>
  </body>
</html>
