{% extends "site/template.html" %}
{% block title %}Companies List{% endblock %}
{% block content %}
  <div class="object-title">
    <div>
      <h2>Companies List</h2>
    </div>
    <div class="control-panel">
      <a href="/crm/company/add/" class="btn btn-default">Create New Company</a>
    </div>
  </div>
  {% if companies %}
    <table id="sprint" class="table display cell-border">
      <thead>
        <tr>
          <th class="tableHeaderCell">Name</th>
        </tr>
      </thead>
      <tbody>
        {% for c in companies %}
          <tr>
            <td class="tableCell"><a href="/crm/company/{{ c.id }}"><div class="cell">{{ c.name }}</div></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
