{% extends "site/template.html" %}
{% block title %}Users List{% endblock %}
{% block content %}
  <div class="object-title">
    <div>
      <h2>Users List</h2>
    </div>
    <div class="control-panel">
      <a href="/crm/user/add/" class="btn btn-default">Create New User</a>
    </div>
  </div>
  {% if users %}
    <table id="sprint" class="table display cell-border">
      <thead>
        <tr>
          <th class="tableHeaderCell">Name</th>
          <th class="tableHeaderCell">Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for u in users %}
          <tr>
            <td class="tableCell">
              <div class="cell">
                {% if u.first_name and u.last_name %}
                  {{ u.first_name }} {{u.last_name}}
                {% else %}
                  {{ u.username }}
                {% endif %}
              </div>
            </td>
            <td class="tableCell"><div class="cell">{{ u.is_active }}</div></td>
            <td class="tableCell">
              <a href="/crm/user/{{ u.id }}/changestatus">
                <div class="cell">
                  {% if not u.is_staff %}
                    {% if u.is_active %}
                      <span class="glyphicon glyphicon-remove"></span>
                    {% else %}
                      <span class="glyphicon glyphicon-ok"></span>
                    {% endif %}
                  {% endif %}
                </div>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
