{% extends "site/template.html" %}
{% block title %}Company details{% endblock %}
{% block content %}
  <div class="object-title">
    <div>
      <h2>Company: {{ company.name }}</h2>
    </div>
  </div>
  <div class="custom_form">
    <div><b>Street:</b><br>{{ company.street }}</div>
    <div><b>House number:</b><br>{{ company.house_number }}</div>
    {% if company.apartment_number %}
      <div><b>Apartment number:</b><br>{{ company.apartment_number }}</div>
    {% endif %}
    <div><b>PostalCode:</b><br>{{ company.postal_code }}</div>
    <div><b>City:</b><br>{{ company.city }}</div>
  </div>
{% endblock %}
