{% extends "site/template.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% else %}
    <h3>To continue: please login</h3>
{% endif %}

<form id="login" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
