{% extends "site/template.html" %}
{% block title %}Logout{% endblock %}
{% block content %}
    <h3>You have been logged out</h3>
    <br><br>
    <p>After 10s you will be redirected to main page. If you don't want to wait click <a href="/crm/">here</a>.</p>

    <script>
        $(document).ready(function(){
            var delay = 10000;
            setTimeout(function() {
                window.location.href = "/crm/";
            }, delay);
        });
    </script>
{% endblock %}
