header{
	text-align: center;
    background: #17234E;
    width: 960px;
    margin: 0 auto;
	font-size: 150%;
}

.header_text{
  color: #ffffff;
}

main{
    min-height: 450px;
    background-color: #e7e7e7; /*taki sam jak kolor aktywnego elementu menu*/
}

footer{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
	background: #17234E;
	text-align: left;
	color: lightgrey;
}

footer div{
    text-align: center;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.navbar{
    border-radius: 0;
}

.nav > li > span {
  position: relative;
  display: block;
  padding: 15px;
  color: #777;
}

.table {
    background-color: #f5f5f5!important;
    margin: 5px auto 5px 75px!important;
    width: auto!important;
}

.tableHeaderCell {
    text-align: center!important;
    font-size: 12px!important;
    background-color: lightgray!important;
    padding: 2px!important;
}

.tableCell {
    text-align: center!important;
    vertical-align: top!important;
    width: 200px;
}

.tableCell a:link{
    text-decoration: none!important;
    color: black!important;
}

.tableCell a:visited{
    text-decoration: none!important;
    color: black!important;
}

.tableCell a:hover{
    text-decoration: none!important;
    color: blue!important;
    font-weight: bold!important;
}

.tableCell a:active{
    text-decoration: none!important;
    color: black!important;
}

.object-title {
    margin-left: 25px;
}

.button{
	border:1px solid black;
	border-radius: 3px;
	font-size:14px;
	padding: 10px 10px 10px 10px;
	text-decoration:none;
	display:inline-block;
	font-weight:bold;
	color: black;
	background-color: #f8f8f8;
    text-decoration: none;
}

.navbar-right a{
  color: #777;
  text-decoration: none;
}

.menu{
	padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
}

.h50{
	height: 50px;
}

.w80{
	width: 80px;
}

.w150{
	width: 150px;
}

.custom_form{
	margin-left: 25px;
}
